services:
  client:
    build:
      context: .
      dockerfile: apps/client/Dockerfile
    container_name: client
    ports:
      - 3000:3000

  server:
    build:
      context: .
      dockerfile: apps/server/Dockerfile
    container_name: server
    ports:
      - 3001:3001

  nginx:
    image: nginx:1.25-alpine
    container_name: nginx
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./certs:/etc/nginx/certs:ro
    ports:
      - 8080:8080
    depends_on:
      - client
      - server
